html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: seashell;
}

/* Fixed Navigation Bar */

#fixedheader {
    position: fixed;
    top: 0px;
    height: 69px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    background-color: black;
    opacity: 0.9;
    z-index: 50;
}

#logo {
    height: 50px;
    margin: 8px 10px;
}

#navlist {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 10px;
}

#navlist a {
    text-decoration: underline;
    list-style: none;
    margin: 0px 10px;
}

/* Main Content */

main {
    position: relative;
    width: 100%;
    top: 65px;
    display: grid;
    justify-content: center;
    margin: 0px;
}

/* Mission */

#mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*uijoqw*_ga*MTQyOTkwNDA3OC4xNjY4MjE0OTAx*_ga_3LRZM6TM9L*MTcwNjc3NTk4Mi4zOS4xLjE3MDY3Nzc0MjguOS4wLjA.");
    background-size:auto;
    height: 700px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.textbox {
    background-color: black;
    width: 1200px;
    opacity: 0.9;
}

/* Tea of the Month */

#monthtea {
    max-width: 1000px;
}

#tealist {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tea img {
    max-width: 300px;
    max-height: 200px;
    margin: 15px;
}

/* Locations */

#locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1ep7nwj*_ga*MTQyOTkwNDA3OC4xNjY4MjE0OTAx*_ga_3LRZM6TM9L*MTcwNjc3NTk4Mi4zOS4xLjE3MDY3Nzc0MjguOS4wLjA.");
    display: grid;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#locationslist {
    display: flex;
    justify-content: center;
    margin: 0px;
}

#locations .textbox {
    opacity: 1;
    justify-content: center;
    width: 300px;
    margin: 15px 40px;
}

/* Footer */

footer {
    position: relative;
    top: 66px;
}

footer h2 {
    margin: 10px;
}

footer .textbox {
    height: 200px;
    margin: 20px;
}

#copyright {
    justify-content: left;
    text-align: left;
    margin: 20px;
    padding: 10px;
}